.button {
	background: transparent;
	cursor: pointer;
	color: var(--c-text-color);
	border-radius: 99px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	outline: none;
	transition: var(-fade);

	&:hover {
		background-color: var(--c-theme-10);
		color: var(--c-theme);
	}
}

.fullWidth{
    width: 100% !important;
}

.iconButton{
	padding: 8px;

	svg{
		font-size: 24px;
	}
}