.navButton {
	/* background-color: var(--c-primary); */
	position: relative;
	color: var(--c-text-color);
	padding: 10px;
	border-radius: 99px;
	display: flex;
	align-items: center;
	transition: var(-fade);

	&:hover {
		background-color: var(--c-theme-20);
		color:var(--c-theme);
	}

	svg {
		font-size: 26px;

		& + * {
			margin: 0 20px 0 15px;
		}
	}
}

.navButtonSelected {
	color: var(--c-theme);
}

.notify {
	position: absolute;
	display: flex;
	align-items: center;
	height: 17px;
	left: 20px;
	top: 5px;
	border-radius: 17px;
	padding: 0 6px;
	border: 1px solid var(--c-primary);

	font-size: 11px;
	background: var(--c-theme);
	color: var(--c-text-color);
}
