.container {
	padding: 20px;

	.label {
		display: inline-flex;
		align-items: center;
		margin-right: 10px;
		cursor: pointer;

		input[type="radio"] {
			font-size: 18px;
			width: 1em;
			height: 1em;
			margin-right: 5px;
			cursor: pointer;
		}
	}
}
