.photo {
  flex-shrink: 0;
  
  .img {
    width: 100%;
    display: block;
    border-radius: 99px;
  }
}

.header {
  border-radius: 0 !important;
  width: 100% !important;
  position: relative;
  height: 100% !important;
  max-height: 200px !important;
  z-index:-10;
}

.profile {
  width: 20% !important;
  height: 60% !important;
  position: absolute;
  border: 4px solid var(--c-primary);
  bottom: -30%;
  left: 2%;
}
